.title {
  margin: 0;
  padding-top: 60px;
  color: var(--brown);
  font-weight: 900;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
}
.text {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: var(--dark-brown);
  margin-top: 30px;
  text-align: center;
}
.form {
  margin: 0 auto;
  max-width: 523px;
  background-color: #f5f3f3;
  padding-bottom: 60px;
}
.inputs {
  border: none;
  width: 388px;
  margin: 0 auto;
}
.email {
  background-image: url(../public/email.svg);
  background-repeat: no-repeat;
  background-position: 17px 20px;
}
.password {
  background-image: url(../public/pass.svg);
  background-repeat: no-repeat;
  background-position: 17px 14px;
}
.email,
.password {
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  padding-left: 50px;
  display: block;
  background-color: #fff;
  outline: none;
  border: none;
  border-radius: 6px;
  width: 388px;
  min-height: 55px;
  margin-bottom: 20px;
}
.checkbox {
  display: none;
}
.label {
  cursor: pointer;
}
.fake__check {
  top: 5px;
  display: inline-block;
  width: 22px;
  height: 22px;
  border: 1px solid var(--brown);
  background-color: #f5f3f3;
  border-radius: 4px;
  position: relative;
}
.fake__check:before {
  content: "";
  display: block;
  position: absolute;
  right: -1px;
  top: -1px;
  width: 22px;
  height: 22px;
  border-radius: 4px;
  background-color: var(--brown);
  opacity: 0;
  transition: 0.5s;
}
.checkbox:checked + .fake__check:before {
  opacity: 1;
}
.check {
  font-weight: 400;
  color: var(--dark-brown);
  margin-left: 15px;
  margin-right: 80px;
}
.button {
  cursor: pointer;
  background-color: var(--brown);
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  color: #f5f3f3;
  border: none;
  border-radius: 6px;
  padding: 11px 158px;
  margin: 21px 0 40px;
}
.register,
.forget__pass {
  margin-left: 10px;
  font-size: 16px;
  line-height: 22px;
  color: var(--brown);
  font-weight: 700;
}
.span {
  font-size: 16px;
  line-height: 22px;
  color: var(--dark-brown);
  margin-left: 25px;
}
.forget__pass {
  font-weight: 600;
}
