
:root {
  --brown: #b37977;
  --dark-brown: #4d321e;
  --white: #f5f3f3;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: Nunito, sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
/*!Autorization*/
.section {
  height: 100vh;
  background-image: url(../public/baby-girl-in-her-crib\ 4.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.form {
  margin: 0 auto;
  max-width: 523px;
  background-color: var(--white);
  padding-bottom: 60px;
  border-radius: 0px 0px 12px 12px;
}
.inputs {
  border: none;
  width: 388px;
  margin: 0 auto;
}

.email {
  background-image: url(../public/email.svg);
  background-repeat: no-repeat;
  background-position: 17px 20px;
}
.password {
  background-image: url(../public/pass.svg);
  background-repeat: no-repeat;
  background-position: 17px 14px;
}
.email,
.password,.input__name {
  color: var(--dark-brown);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  padding-left: 50px;
  display: block;
  background-color: #fff;
  outline: none;
  border: none;
  border-radius: 6px;
  width: 388px;
  min-height: 55px;
  margin-bottom: 20px;
}
.regist-email {
  border: 1px solid var(--brown);
}
.button {
  cursor: pointer;
  background-color: var(--brown);
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  color: #f5f3f3;
  border: none;
  border-radius: 6px;
  width: 388px;
  min-width: 188px;
  height: 55px;
  margin: 21px 0 40px;
  transition: 0.5s;
}
.button-margin {
  margin-bottom: 0;
}
.valid {
  color: red;
  text-align: center;
  font-size: 16px;
}
.regist-button {
  margin-top: 0;
}
.button:hover {
  opacity: 0.8;
}
.fa-eye,
.fa-eye-slash {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
}
.restoration-text {
  text-align: center;
  cursor: pointer;
}
